mysql-connector-python==8.0.31
redis==4.3.4
Django==4.2
gunicorn==20.1.0
djangorestframework==3.14.0
django-filter==1.1.0
djangorestframework-filters==0.11.1
drf-yasg==1.21.6
mysqlclient==2.2.0
requests==2.31.0
psycopg2==2.9.6
flex==6.14.1
swagger_spec_validator==3.0.3
ssv==0.1.1
Pillow==8.4.0
